:root {
  --decorative-color: #87ceeb;
  --background-color: #333333;
  --text-color: #ffffff;
  --title-color: #00bfff;
}

.container {
  width: 1080px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: oswald;
  font-weight: 100;
}

.header {
  background-color: var(--decorative-color);
  padding-top: 30px;
  padding-bottom: 30px;
}
.header-nav {
  display: flex;
  justify-content: space-between;
}
.header-list {
  display: flex;
  gap: 16px;
  align-items: center;
}

.header-img {
  width: 80px;
}

.header-link {
  color: var(--text-color);
  font-size: 25px;
  font-weight: 100;
  max-width: 50px;
}
.header-link:hover {
  color: var(--title-color);
}
.hero-container {
  display: flex;
  align-items: center;
  gap: 32px;
}
.hero {
  padding-top: 80px;
  padding-bottom: 80px;
}
.hero-img {
  width: 500px;
}
.hero-title {
  font-family: caveat;
  font-size: 100px;
}
.hero-subtitle {
  font-family: caveat;
  font-size: 80px;
}
.hero-text {
  font-size: 30px;
}
.information {
  padding-top: 80px;
  padding-bottom: 80px;
}
.information-list {
  display: flex;
  gap: 32px;
}
.information-item {
  background-color: var(--title-color);
  border-radius: 32px;
  border: solid var(--text-color);
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
  max-width: 350px;
  height: 430px;
}
.information-title {
  font-family: caveat;
  font-size: 40px;
  text-align: center;
}
.information-items {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.information-text {
  font-size: 30px;
}
.information-gap {
  margin-top: 30px;
  margin-bottom: 25px;
}
.dream {
  padding-top: 80px;
  padding-bottom: 80px;
}
.dream-text {
  font-size: 35px;
  text-align: center;
  background-color: #4d4d4d;
  padding-top: 40px;
  padding-bottom: 40px;
}
.contacts{
  padding-top: 50px;
  padding-bottom: 72px;
}
.contacts-title {
  font-size: 80px;
  font-family: caveat;
  text-align: center;
}
.contacts-list {
  display: flex;
  justify-content: center;
  gap: 52px;
  margin-top: 50px;
}
.contacts-icon {
  fill: var(--title-color);
  width: 130px;
}
.contacts-icon:hover{
  fill: var(--text-color);
}
footer {
  background-color: var(--decorative-color);
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-img {
  width: 100px;
}
.footer-link {
  color: var(--text-color);
  font-size: 25px;
}
.footer-link:hover {
  color: var(--title-color);
}
.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
