:root {
  --decorative-color: #87ceeb;
  --background-color: #333333;
  --text-color: #ffffff;
  --title-color: #00bfff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: oswald;
  font-weight: 100;
}

.container {
  width: 1080px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  background-color: var(--decorative-color);
  padding-top: 30px;
  padding-bottom: 30px;
}
.header-nav {
  display: flex;
  justify-content: space-between;
}
.header-list {
  display: flex;
  gap: 16px;
  align-items: center;
}

.header-img {
  width: 80px;
}

.header-link {
  color: var(--text-color);
  font-size: 25px;
}
.header-link:hover {
  color: var(--title-color);
}
.hero-title{
  font-size: 100px;
  font-family: caveat;
  text-align: center;
  margin-bottom: 113px;
}
.hero-list{
  display: flex;
  flex-direction: column;
  gap: 54px;
}
.hero{
  padding-top: 80px;
  padding-bottom: 80px;
}
.hero-photo{
  width: 400px;
  
}
.hero-box{
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid var(--text-color);
  border-radius: 10px;
}
.hero-item{
  display: flex;
}
.hero-subtitle{
  font-size: 50px;
  text-align: center;
}
.hero-text{
  font-size: 30px;
  text-align: center;
}
footer {
  background-color: var(--decorative-color);
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-img {
  width: 100px;
}
.footer-link {
  color: var(--text-color);
  font-size: 25px;
}
.footer-link:hover{
  color: var(--title-color);
}
.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
