 :root {
  --decorative-color: #87ceeb;
  --background-color: #333333;
  --text-color: #ffffff;
  --title-color: #00bfff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: oswald;
  font-weight: 100;
}

.container {
  width: 1080px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  background-color: var(--decorative-color);
  padding-top: 30px;
  padding-bottom: 30px;
}
.header-nav {
  display: flex;
  justify-content: space-between;
}
.header-list {
  display: flex;
  gap: 16px;
  align-items: center;
}

.header-img {
  width: 80px;
}

.header-link {
  color: var(--text-color);
  font-size: 25px;
}
.header-link:hover {
  color: var(--title-color);
}

.hero-logo{
   width: 150px; 
}

.hero-list{
    display: flex;
    flex-wrap: wrap;
}


footer {
  background-color: var(--decorative-color);
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-img {
  width: 100px;
}
.footer-link {
  color: var(--text-color);
  font-size: 25px;
}
.footer-link:hover{
  color: var(--title-color);
}
.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}