 :root {
    --decorative-color: #87CEEB;
    --background-color: #333333;
 }

 .container {
     width: 1080px;
     padding-left: 15px;
     padding-right: 15px;
     margin-left: auto;
     margin-right: auto;
 }